@font-face {
    font-family: 'Oxanium';
    src: url('font/Oxanium-VariableFont_wght.ttf');
  }

html, body {
    margin:0px;
    font-family: Oxanium;
    text-align: center;
    background-color: #25014b;
  }

.mainLogo {
    margin-top: 20px;
}

.mainTitle {
    font-weight: bolder;
    font-size:50px;
}

.curved-div {
    color: #FFF;
    width: 99vw;
  }

  .curved-div svg {
    display: block;
  }

p {
    padding: 15px;
    font-size: large;
}

a {
    color: #fff;
    padding-top: 10px;
    font-size: large;
    padding: 5px;
}

.poster {
    width: 50vw;
    box-shadow: 0px 0px 5px black;
}

.video4-3 {
    box-shadow:0px 0px 10px black;
    width:50vw;
    height:37.5vw;
}